<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>MOHD ATIR INSAF</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <h1 style="text-shadow: 2px 2px 2px maroon;">MOHD ATIR INSAF</h1>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <!-- 6 -->
                <li id="home" style="text-shadow: 2px 2px 2px black"><a href="/" ><h3>ABOUT</h3></a></li>
                <li id="about" style="text-shadow: 2px 2px 2px black"><a href="/projects" ><h3>PROJECTS</h3></a></li>
                <li id="contact" style="text-shadow: 2px 2px 2px black"><a href="/skills"><h3>SKILLS</h3></a></li>
            </ul>
        </div>
    </nav>

<body>
<div class="container">
